{% extends 'sales/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block extralinks %} 
<style>
  .text_ellipsis {
    width: 16em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
{% endblock %}
{% block content %}
{% load common_tags %}
<div class="row marl justify-content-center">
  <div class="col-md-11">
    <!-- count_blocks_row starts here -->
    <div class="row count_blocks_row">
      <div class="col-md-3">
        <div class="item green">
          <a href="{% url 'contacts:list' %}">
            <div class="title">Contacts</div>
            <div class="count">{{contacts|length}}</div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="item red">
          <a href="{% url 'leads:list' %}">
            <div class="title">Leads</div>
            <div class="count">{{leads|length}}</div>
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="item sky_blue">
          <a href="{% url 'leads:list' %}">
            <div class="title">Tasks</div>
            <div class="count">{{tasks|length}}</div>
          </a>
        </div>
      </div>
      <div class="col-md-3  ">
        <div class="item yellow">
          <a href="{% url 'leads:list' %}">
            <div class="title">Teams</div>
            <div class="count">{{teams|length}}</div>
          </a>
        </div>
      </div>
    </div>
    <!-- count_blocks_row ends here -->
    <!-- open open_sections row starts form here -->
    <div class="open_sections row">
      <div class="col-md-7 table_container_row">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span>Recent Contacts</span>
            </div>
            <div class="table-responsive">
              {% if contacts %}
              <table class="table">
                <thead>
                  <tr>
                    <th width="30%">Name</th>
                    <th width="30%">Created On</th>
                    <th width="40%">Assigned To</th>
                  </tr>
                </thead>
                <tbody>
                  {% for contact in contacts|slice:"5" %}
                  <tr>
                    <td>
                      <div class="text_ellipsis">
                      <a href="{% url 'contacts:view_contact' contact.id %}">{{contact.first_name}}</a>
                    </div>
                    </td>
                    <td>
                      <div class="text_ellipsis">
                      {{contact.created_on}}
                      </div>
                    </td>
                    <td>
                      {% with users=contact.assigned_to.all %}
                      {% for user in users|slice:'3' %}
                      {% if user.profile_pic %}
                      {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                      <span>
                        <a href="{% url 'common:view_user' user.id %}">
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                            title="{{ user.email }}">
                        </a>
                        {% endthumbnail %}
                        {% else %}
                        <a href="{% url 'common:view_user' user.id %}">
                          <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                        </a>
                      </span>
                      {% endif %}
                      {% empty %}
                      <span class="text-left">None</span>
                      {% endfor %}
                      {% if users|length > 3 %}
                      <div>
                        <a href="{% url 'contacts:view_contact' contact.id %}">
                          <span class="text-left mt-2" id="list_tag">{{users|length|subtract:'3'}}<span> more
                            </span></span></a>
                      </div>
                      {% endif %}
                      {% endwith %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p style="text-align:center">There are no records</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 table_container_row">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span>Recent Leads</span>
            </div>
            <div class="table-responsive">
              {% if leads %}
              <table class="table">
                <thead>
                  <tr>
                    <th width="30%">Title</th>
                    <th width="30%">Tags</th>
                    <th width="30%">Assigned To</th>
                  </tr>
                </thead>
                <tbody>
                  {% for lead in leads|slice:"5" %}
                  <tr>
                    <td>
                      <div class="text_ellipsis">
                      <a href="{% url 'leads:view_lead' lead.id %}">{{lead.title}}</a>
                    </div>
                    </td>
                    <td style="display: block;">
                      {% for tag in lead.tags.all|slice:'3' %}
                      <span class="text-left color{{forloop.counter}} tag_class_opp" id="list_tag"
                        data-link="{{tag.id}}" style="cursor: pointer;">{{tag.name}}</span>
                      {% empty %}
                      <span class="text-left">No Tags</span>
                      {% endfor %}
                      {% if lead.tags.all|length > 3 %}
                      <a href="{% url 'leads:view_lead' lead.id %}">
                        <span class="text-left" id="list_tag">{{lead.tags.all|length|subtract:'3'}}<span> more
                          </span></span></a>
                      {% endif %}
                    </td> 
                    <td>
                      {% with users=lead.assigned_to.all %}
                      {% for user in users|slice:'3' %}
                      {% if user.profile_pic %}
                      {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                      <span>
                        <a href="{% url 'common:view_user' user.id %}">
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                            title="{{ user.email }}">
                        </a>
                        {% endthumbnail %}
                        {% else %}
                        <a href="{% url 'common:view_user' user.id %}">
                          <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                        </a>
                      </span>
                      {% endif %}
                      {% empty %}
                      <span class="text-left">None</span>
                      {% endfor %}
                      {% if users|length > 3 %}
                      <div>
                        <a href="{% url 'leads:view_lead' lead.id %}">
                          <span class="text-left mt-2" id="list_tag">{{users|length|subtract:'3'}}<span> more
                            </span></span></a>
                      </div>
                      {% endif %}
                      {% endwith %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p style="text-align:center">There are no records</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- open open_sections row ends here -->
    <div class="open_sections row">
      <div class="col-md-6 table_container_row">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span>Tasks</span>
            </div>
            <div class="table-responsive">
              {% if tasks %}
              <table class="table">
                <thead>
                  <tr>
                    <th width="30%">Tilte</th>
                    <th width="30%">Priority</th>
                    <th width="30%">Status</th>
                    <th width="40%">Assigned To</th>
                  </tr>
                </thead>
                <tbody>
                  {% for task in tasks|slice:"5" %}
                  <tr>
                    <td>
                      <div class="text_ellipsis">
                      <a href="{% url 'tasks:task_detail' task.id %}">{{task.title}}</a>
                    </div>
                    </td>
                    <td>
                      <div class="text_ellipsis">
                      {{task.priority}}
                    </div>
                    </td>
                    <td>
                      <div class="text_ellipsis">
                        {{task.status}}
                    </div>
                    </td>
                    <td>
                      {% with users=task.assigned_to.all %}
                      {% for user in users|slice:'3' %}
                      {% if user.profile_pic %}
                      {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                      <span>
                        <a href="{% url 'common:view_user' user.id %}">
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                            title="{{ user.email }}">
                        </a>
                        {% endthumbnail %}
                        {% else %}
                        <a href="{% url 'common:view_user' user.id %}">
                          <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                        </a>
                      </span>
                      {% endif %}
                      {% empty %}
                      <span class="text-left">None</span>
                      {% endfor %}
                      {% if users|length > 3 %}
                      <div>
                        <a href="{% url 'tasks:task_detail' task.id %}">
                          <span class="text-left mt-2" id="list_tag">{{users|length|subtract:'3'}}<span> more
                            </span></span></a>
                      </div>
                      {% endif %}
                      {% endwith %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p style="text-align:center">There are no records</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 table_container_row">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <span>Teams</span>
            </div>
            <div class="table-responsive">
              {% if teams %}
              <table class="table">
                <thead>
                  <tr>
                    <th width="30%">Team Name</th>
                    <th width="30%">Team Description</th>
                    <th width="40%">Assigned To</th>
                  </tr>
                </thead>
                <tbody>
                  {% for team in teams|slice:"5" %}
                  <tr>
                    <td>
                      <div class="text_ellipsis">
                      <a href="{% url 'teams:team_detail' team.id %}">{{team.name}}</a>
                    </div>
                    </td>
                    <td>
                      <div class="text_ellipsis">
                      {{team.description}}
                    </div>
                    </td>
                    <td>
                      {% with users=team.assigned_to.all %}
                      {% for user in users|slice:'3' %}
                      {% if user.profile_pic %}
                      {% thumbnail user.profile_pic "40x40" crop="center" as im %}
                      <span>
                        <a href="{% url 'common:view_user' user.id %}">
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                            title="{{ user.email }}">
                        </a>
                        {% endthumbnail %}
                        {% else %}
                        <a href="{% url 'common:view_user' user.id %}">
                          <img src="{% static 'images/user.png' %}" title="{{ user.email }}" width="40" height="40">
                        </a>
                      </span>
                      {% endif %}
                      {% empty %}
                      <span class="text-left">None</span>
                      {% endfor %}
                      {% if users|length > 3 %}
                      <div>
                        <a href="{% url 'teams:team_detail' team.id %}">
                          <span class="text-left mt-2" id="list_tag">{{users|length|subtract:'3'}}<span> more
                            </span></span></a>
                      </div>
                      {% endif %}
                      {% endwith %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p style="text-align:center">There are no records</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<footer></footer>

{% endblock %}
{% block js_block %}
<script type="text/javascript">
</script>
{% endblock js_block %}